@model CryptoTracker.Models.WalletDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.WalletName?</h2>
<a class="a-green"href ="/Wallet/List">Cancel</a>
<div>Description: @Model.WalletDescription</div>
<div>Type: @Model.WalletType</div>
<form action="/Wallet/Delete/@Model.WalletId" method="POST">
    <input class="btn-default" type="submit" value="Confirm Delete" />
</form>