@model CryptoTracker.Models.ViewModels.DetailsWallet

@{
    ViewBag.Title = "Edit";
}

<h2>Update Wallet</h2>
<nav>
    <ul>
        <li><a href="/Wallet/List">Go back to list</a></li>

        <li><a style="color:#ab2020;" href="/Wallet/DeleteConfirm/@Model.SelectedWallet.WalletId">Delete</a></li>
    </ul>
</nav>
<form action="/Wallet/Update/@Model.SelectedWallet.WalletId" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div style="display:none;">
                <input type="text" name="WalletId" value="@Model.SelectedWallet.WalletId" />
            </div>
            <div>
                <label>Name:</label> <input type="text" name="WalletName" value="@Model.SelectedWallet.WalletName" />
            </div>
            <div>
                <label>Description:</label> <input type="text" name="WalletDescription" value="@Model.SelectedWallet.WalletDescription" />
            </div>
            <div>
                <p>Current Wallet Type: @Model.SelectedWallet.WalletType</p>
                <label>New Wallet Type:</label>
                <select name="walletType">
                    <option value="Centralised Exchange Platform">Centralised Exchange Platform</option>
                    <option value="Decentralised Hot Wallet">Decentralised Hot Wallet</option>
                    <option value="Decentralised Cold Wallet">Decentralised Cold Wallet</option>
                </select>
            </div>
            <div>
                <input type="submit" value="Update Wallet" />
            </div>
        </div>
    </div>
</form>