@model IEnumerable<CryptoTracker.Models.TokenDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Token/New">New Token</a>
@foreach (var wallet in Model)
{
    <h2><a href="/Token/Details/@wallet.TokenId">@wallet.TokenName</a></h2>
    <div>Description: @wallet.TokenDescription</div>
    <div>Risk level: @wallet.TokenRiskLevel</div>


}