@model IEnumerable<CryptoTracker.Models.WalletDto>
@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<a href="/Wallet/New">New Wallet</a>
@foreach (var wallet in Model)
{
    <h2><a href="/Wallet/Details/@wallet.WalletId">@wallet.WalletName</a></h2>
    <div>Description: @wallet.WalletDescription</div>
    <div>Type: @wallet.WalletType</div>


}