@{
    ViewBag.Title = "Add";
}

<h2>Create Wallet</h2>
<a href="/Wallet/List">Cancel</a>
<form action="/Wallet/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="WalletName" />
    </div>
    <div>
        <label>Description:</label> <textarea id="WalletDescription" name="WalletDescription" rows="4" cols="50" ></textarea>
    </div>
    <div>
        <label>Wallet Type:</label>
        <select name="walletType">
            <option value="Centralised Exchange Platform">Centralised Exchange Platform</option>
            <option value="Decentralised Hot Wallet">Decentralised Hot Wallet</option>
            <option value="Decentralised Cold Wallet">Decentralised Cold Wallet</option>
        </select>
    </div>
    <div>
        <input class="btn-default" type="submit" value="Add Wallet" />
    </div>
</form>
