@model CryptoTracker.Models.TokenDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.TokenName?</h2>
<a class="a-green" href="/Token/List">Cancel</a>
<div>Description: @Model.TokenDescription</div>
<div>Risk Level: @Model.TokenRiskLevel</div>
<form action="/Token/Delete/@Model.TokenId" method="POST">
    <input class="btn-default" type="submit" value="Confirm Delete" />
</form>