@model CryptoTracker.Models.TokenDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete this Token?</h2>
<a href="/Token/List">Cancel</a>
<div>Description: @Model.TokenDescription</div>
<div>Risk Level: @Model.TokenRiskLevel</div>
<form action="/Token/Delete/@Model.TokenId" method="POST">
    <input type="submit" value="Confirm Delete" />
</form>