@{
    ViewBag.Title = "Add";
}

<h2>Create Token</h2>
<form action="/Token/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="TokenName" />
    </div>
    <div>
        <label>Description:</label> <input type="text" name="TokenDescription" />
    </div>
    <div>
        <label>Token Risk Level:</label>
        <br/>
        <input type="radio" id="low" name="TokenRiskLevel" value="Low">
        <label for="low">Low</label><br>
        <input type="radio" id="medium" name="TokenRiskLevel" value="Medium">
        <label for="medium">Medium</label><br>
        <input type="radio" id="high" name="TokenRiskLevel" value="High">
        <label for="high">High</label>
    </div>
    <div>
        <input type="submit" value="Add Token" />
    </div>
</form>
