@model CryptoTracker.Models.ViewModels.Home
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Crypto Wallet Tracker</h1>
    <p class="lead">Crypto Wallet Tracker is an application for you to easily store your information on crypto balances across different platforms and addresses.</p>
</div>

<div>
    <h2> Total Value In your wallets: </h2>
    <h2> $ @Model.TotalValue</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>View Wallet Summary</h2>
        <p><a class="btn btn-default" href="/Wallet/List">View</a></p>
    </div>
    <div class="col-md-4">
        <h2>View Token Summary</h2>
        <p><a class="btn btn-default" href="/Token/List">View</a></p>
    </div>
</div>